[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plasmidplot"]
	path = plasmidplot
	url = https://github.com/dkturingfz/plasmidplot
